.freezing {
	background-color: $color-freezing;
}

.cold {
	background-color: $color-cold;
}

.warm {
	background-color: $color-warm;
}

.hot {
	background-color: $color-hot;
}

.blazing {
	background-color: $color-blazing;
}