$color-background: #cccccc;
$color-highlight-background: #191919;
$color-text: #fff;
$color-freezing : #00009b;
$color-cold : #2481cf;
$color-warm : #f3b23c;
$color-hot : #f17a0a;
$color-blazing : #ff3019;