@import "variables";
@import "colors";
@import "mixins";

html {
	font-family: "Helvetica", Arial, sans-serif;
	background-color: $color-background;
	color: $color-text;
}

html, body, div {
	margin: 0;
	padding: 0;
}

html, body, .main-container {
	width: 100%;
	height: 100%;
}

.main-container {
	transition: background-color 1s linear;
	padding: 40px 0;

	@include text-selection($color-text, $color-highlight-background);
}

	.location-name-display, .temperature-display {
		font-weight: bold;
		text-align: center;
	}

	.location-name-display {
		font-size: 60px;
	}

	.temperature-display {
		font-size: 220px;
		margin-top: 20px;
	}
	
	.location-navigation {
		text-align: center;
		margin-top: 30px;
	}

		#location-search-form {
			margin-top: 20px;
		}

			.location-search-input {
				width: 280px;
				padding: 6px 14px;
				font-size: 18px;
				background-color: transparent;
				border-radius: 8px;
				color: $color-text;
				outline: none;
				border: 1px solid rgba($color-text, 0.5);

				&:focus {
					box-shadow: 0 0 4px 0 rgba($color-text, 0.5);
				}
			}

			.location-search-submit-wrapper {
				position: relative;
				display: inline-block;
				vertical-align: top;
				width: 64px;
				height: 40px;
				margin-left: 4px;
				overflow: hidden;
			}

				.location-search-submit, .location-search-cloud-icon {
					position: absolute;
					transition: all 0.4s ease;
					transition-delay: 0.5s;
				}

				.location-search-submit {
					top: 0;
					left: 0;
					width: 60px;
					padding: 8px;
					border: 1px solid rgba($color-text, 0.5);
					border-radius: 8px;
					cursor: pointer;
					font-size: 16px;
					color: $color-text;
					background-color: transparent;
					outline: none;

					&:hover {
						box-shadow: 0 0 4px 0 rgba($color-text, 0.5);
					}

					.loading & {
						left: -100%;
						opacity: 0;
					}
				}

				.location-search-cloud-icon {
					
					width: 56px;
					height: 34px;
					left: 100%;
					opacity: 0;
					background-image: url('#{$img-directory}/clouds.gif');
					background-size: 100% auto;
					background-repeat: no-repeat;

					.loading & {
						opacity: 1;
						left: 0;
					}
				}