@import "variables";
@import "mixins";

.freezing {
	background-color: $colour-freezing;
}

.cold {
	background-color: $colour-cold;
}

.warm {
	background-color: $colour-warm;
}

.hot {
	background-color: $colour-hot;
}

.blazing {
	background-color: $colour-blazing;
}

html {
	font-family: "Helvetica", Arial, sans-serif;
	background-color: $colour-background;
	color: $colour-text;
}

html, body, div {
	margin: 0;
	padding: 0;
}

html, body, .main-container {
	width: 100%;
	height: 100%;
}

.main-container {
	transition: background-color 1s linear;
}
	
	.city-navigation {
		text-align: center;
	}

		.city-list {
			margin: 0;
			padding: 20px;
			display: inline-block;
			@include clearfix;
		}
			.city-list-item {
				float: left;
				list-style-type: none;
				margin-left: 30px;
			}
				.city-link {
					font-size: 30px;
					cursor: pointer;

					&.selected {
						text-decoration: underline;
					}
				}

	.temperature-display {
		font-size: 240px;
		font-weight: bold;
		text-align: center;
	}