html, body, div {
	margin: 0;
	padding: 0;
}

.freezing {
	background-color: #00009b;
}

.cold {
	background-color: #2481cf;
}

.warm {
	background-color: #f3b23c;
}

.hot {
	background-color: #f17a0a;
}

.very-hot {
	background-color: #ff3019;
}